<!DOCTYPE html>
<html>
  <head>
    <title>Chainhelen</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<style>
			body{
				background-color:#10A296;
			}
			.title{
				color:white;
				font-size:4em;
			}
			h1{
				color:white;
				letter-spacing: 8px;
			}
		</style>
		<script src="javascripts/jquery.js"></script>
  </head>
  <body>
		<h1 class="title"><%= title %></h1>
		<h1><%= think %></h1>
		<div style="width:100%;text-align:center">
			<button onclick="location.href='/'">返回</button>
		</div>
  </body>
</html>
