<!DOCTYPE html>
<html>
  <head>
    <title>Chainhelen</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/spinner.css'/>
		<style>
			body{
				background-color:#10A296;
			}
			.title{
				color:white;
				font-size:4em;
			}
			h1{
				color:white;
				letter-spacing: 8px;
			}
			.hide{
				opacity: 1;	
			}
			.container{
				position:absolute;
				width:100%;
				text-align:center;
				margin-top:-5%;
				z-index: -1;
			}
			.loader{
				/*opacity: 0;*/
			}
			.loader-container{
				width:240px;
				height:240px;
				margin:0 auto;
			}
		</style>
		<script src="javascripts/jquery.js"></script>
		<script>
			$(document).ready(function(){

				$("button").click(function(){
					$(".container").css({"z-index":1});
					$(".loader-container").html("<div class='loader'>Loading...</div>");
					$(".loader").css({"opacity":1});
				})

				$("#togglepassword").click(function(){
					if($("#togglepassword")[0].value == "显示密码"){
						$("#pass").css({"display":"none"});
						$("#showpass").css({"display":""});
						$("#showpass")[0].value = $("#pass")[0].value;
						$("#togglepassword")[0].value = "隐藏密码";
					}
					else if($("#togglepassword")[0].value == "隐藏密码"){
						$("#pass").css({"display":""});
						$("#showpass").css({"display":"none"});
						$("#pass")[0].value = $("#showpass")[0].value;
						$("#togglepassword")[0].value = "显示密码";
					}
				});
			});
			function submitFunc(){
				console.log("ni");
					if($("#togglepassword")[0].value == "隐藏密码"){
						$("#pass")[0].value = $("#showpass")[0].value;
					}
					return true;
				}
		</script>
  </head>
  <body>
		<h1 class="title"><%= title %></h1>
		<div class="container">
			<div class="loader-container">
			</div>
		</div>
		<h1><%= think %></h1>
		<div id="foo"></div>
		<form class="hide" method="post" onsubmit="return submitFunc()">
				<label for="username">用户名</label>
				<input type="text" name="username" value="admin">
				<label for="password">密码</label>
				<input id="pass" type="password" name="password" value="admin" style="display:">
				<input id="showpass" type="text" value="admin" style="display:none">

				<button type="submit" id="submit">登陆</button>
				<input type="button" value="显示密码" id="togglepassword"></input>
		</form>
  </body>
</html>
